__pycache__
*.csv
*.gif
*.py[co]
.DS_Store
.pytest_cache/


# Packages
*.egg
*.egg-info
dist
build
_build
.installed.cfg

# Installer logs
pip-log.txt

# Sphinx documentation
doc/_build/
doc/build/
.jupyterlite.doit.db
/doc/jupyter_execute/
doc/source/regression/*.ipynb

# Editors
.idea
.project
.pydevproject
.settings



TimeSeries.ipynb
Documents/*
Epic/*

wavelet_test.py
wavelet_test2.py
